<%= stylesheet_link_tag "signup", :media => "all" %>

<div class="login-form">

<h2>新規登録</h2>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, class: "login-username", autofocus: true, required: true, autocomplete: "name", placeholder: "名前" %>

    <%= f.email_field :email, class:"login-email", autofocus: true, required: true, autocomplete: "email", placeholder: "Eメール" %>

    <%= f.password_field :password, class: "login-password", autofocus: true, autocomplete: "new-password", placeholder: "パスワード" %>
        <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <%= f.password_field :password_confirmation, class: "login-password", autofocus: true, autocomplete: "new-password", placeholder: "パスワード（確認用）" %>

    <%= f.submit "新規登録", class: "login-submit"%>

    <div class="box-newusr">
      <p>↓登録済みの方はこちら↓</p>
      <%= link_to "ログイン", new_user_session_path %>
    </div>

<% end %>

</div>


<div class="underlay-photo"></div>
<div class="underlay-black"></div> 