<div class="cover-user-show">
  <div class="container">
    <div class="row justify-content-center">
      <% if user_signed_in? && @user == current_user %>
      <h1 class="font-weight-normal mt-5 mb-5">マイページ</h1>
      <% else %>
      <h1 class="font-weight-normal mt-5 mb-5"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
    <p class="d-flex justify-content-end">
      <% if user_signed_in? && @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
      <% end %>
      <div id="relationship_btn_<%= @user.id %>">
          <%= render "relationships/relationship", user: @user %>
      </div>
    </p>
    <div class="ml-3 mb-3 card">
    <div class="d-flex">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "logo.png", class: "mb-3 profile-img" %>
      <h4 class="ml-3 mb-3 card w-100"><%= @user.profile %></h4>
    </div>
     <div class="d-flex">
     <%= link_to follows_user_path(@user) do %>
     <h6>フォロー<%= @following_users.count %></h6>
     <% end %>&nbsp;&nbsp;
     <%= link_to followers_user_path(@user) do %>
     <h6>フォロワー<%= @follower_users.count %></h6>
     <% end %>
     </div>
    </div>
    <div class="row justify-content-center">
      <% @posts.each do |post| %>
      <div class="one-post">
        <%= link_to post_path(post) do %>
          <% post.post_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, format: 'jpeg', size: '200x133' %>
          <% end %>
        <p class="caption mb-0"><%= post.location %></p>
        <p class="caption"><%= "#{post.comments.count} コメント" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>