<%= stylesheet_link_tag "signup", :media => "all" %>

<div class="login-form">
  <h2>ログイン</h2>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <%= f.email_field :email, class:"login-email", autofocus: true, autocomplete: "email", placeholder: "Eメール" %>
  <%= f.password_field :password, class: "login-password", autofocus: true, autocomplete: "current-password", placeholder: "パスワード" %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <% end %>

  <div>
    <p class="mb-0 mt-3"> ↓新規登録がお済みでない方はこちら↓</p>
    <%= render "devise/shared/links" %>

    <%= link_to "トップページに戻る", root_path %>
  </div>
</div>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>